<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>BuildDemo copy.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>BuildDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>Copy of BuildDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>9B18E58C1D587ABF00F0CD1B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9B18E5A51D587ABF00F0CD1B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9B18E5B01D587ABF00F0CD1B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9B18E5CB1D5885DA00F0CD1B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
